body {
  display: grid;
  //   justify-content: center;
  align-content: start;
  gap: 6.8rem;
  min-height: 100vh;
  //   HEADER
  header {
    min-width: 32.7rem;
    padding: 2.4rem 0;
    max-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.9rem;
      margin-bottom: 3.2rem;
      .x {
        background-image: url("../assets/icon-x.svg");
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 3.2rem;
        width: 3.2rem;
      }
      .zero {
        background-image: url("../assets/icon-o.svg");
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 3.174rem;
        width: 3.174rem;
      }
    }
    .turn {
      height: 3.6rem;
      width: 9.6rem;
      background-color: $semi-dark-navy;
      border-radius: 5px;
      text-transform: uppercase;
      color: $silver;
      box-shadow: 0 4px $very-dark-navy-shadow;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.5rem;
      margin-left: -3rem;
      p {
        font-weight: bold;
      }
      .x-silver {
        background-image: url("../assets/icon-x-silver.svg");
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 1.6rem;
        width: 1.6rem;
      }
    }
    .reverse {
      height: 3.6rem;
      width: 4rem;
      background-color: $silver;
      border-radius: 5px;
      box-shadow: 0 4px $silver-shadow;
      display: flex;
      justify-content: center;
      align-items: center;
      .reverse-icon {
        background-image: url("../assets/icon-restart-dark-navy.svg");
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 1.538rem;
        width: 1.538rem;
      }
    }
  }
  //   MAIN GAME
  main {
    min-width: 32.7rem;
    margin: 0 auto;
    .main-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-content: center;
      gap: 2rem;
      margin-bottom: 2.8rem;
      .square {
        height: 8.8rem;
        width: 9.6rem;
        background-color: $semi-dark-navy;
        box-shadow: 0 8px $very-dark-navy-shadow;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .square-icon {
          //   background-image: url("../assets/icon-x.svg");
          position: relative;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 4rem;
          width: 4rem;
        }
        .x-game {
          //   background-image: url("../assets/icon-x.svg");
          position: relative;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 4rem;
          width: 4rem;
        }
        .x-game-outline {
          //   background-image: url("../assets/icon-x-outline.svg");
          position: relative;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 4rem;
          width: 4rem;
        }
        .zero-game {
          //   background-image: url("../assets/icon-o.svg");
          position: relative;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 4rem;
          width: 4rem;
        }
        .zero-game-outline {
          //   background-image: url("../assets/icon-o-outline.svg");
          position: relative;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 4rem;
          width: 4rem;
        }
      }
    }
    .score-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .score {
        width: 9.6rem;
        height: 6.4rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $dark-navy-background;
        p {
          font-size: 1.4rem;
          text-transform: uppercase;
        }
      }
      .personal-victories {
        background-color: $light-blue;
      }
      .ties {
        background-color: $silver;
      }
      .cpu-victories {
        background-color: $light-yellow;
      }
    }
  }
  .modal-container {
    position: fixed;
    // top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .game-over-container {
    .modal {
      margin-bottom: 14rem;
      padding-top: 3.3rem;
      padding-bottom: 4.1rem;
      background-color: $semi-dark-navy;
      width: 100%;
      .modal-paragraph {
        color: $silver;
        text-align: center;
        margin-bottom: 2rem;
      }
      .modal-heading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.9rem;
        margin-bottom: 3rem;
        .x-modal {
          background-image: url("../assets/icon-x.svg");
          position: relative;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 2.8rem;
          width: 2.8rem;
        }
        .modal-heading {
          letter-spacing: 0.15rem;
          color: $light-blue;
          text-align: center;
        }
      }
      .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;
        .btn {
          color: #1a2a33;
          text-transform: uppercase;
          font-size: 1.6rem;
          padding: 1.8rem;
          border-radius: 10px;
        }
        .btn-quit {
          background-color: $silver;
          box-shadow: 0 4px $silver-shadow;
          width: 7.6rem;
        }
        .btn-next-round {
          background-color: $light-yellow;
          box-shadow: 0 4px $light-yellow-darker;
          width: 14.6rem;
        }
      }
    }
  }
  .game-tied-container {
    height: 100vh;
    .modal {
      margin-bottom: 14rem;
      padding-top: 5.4rem;
      padding-bottom: 5.8rem;
      background-color: $semi-dark-navy;
      width: 100%;
      .modal-heading {
        letter-spacing: 0.15rem;
        color: $silver;
        text-align: center;
        margin-bottom: 3rem;
      }
      .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;
        .btn {
          color: #1a2a33;
          text-transform: uppercase;
          font-size: 1.6rem;
          padding: 1.8rem;
          border-radius: 10px;
        }
        .btn-quit {
          background-color: $silver;
          box-shadow: 0 4px $silver-shadow;
          width: 7.6rem;
        }
        .btn-next-round {
          background-color: $light-yellow;
          box-shadow: 0 4px $light-yellow-darker;
          width: 14.6rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    align-content: center;
    gap: 3rem;
    //   HEADER
    header {
      width: 45.7rem;
      padding: 0;
      .turn {
        height: 4.8rem;
        width: 14rem;
        justify-content: center;
        align-items: center;
        gap: 1.3rem;
        margin: 0;
        margin-left: -2rem;
        p {
          font-size: 1.6rem;
        }
        .x-silver {
          height: 2rem;
          width: 2rem;
        }
      }
      .reverse {
        height: 4.8rem;
        width: 5.2rem;
        .reverse-icon {
          height: 2rem;
          width: 2rem;
        }
      }
    }
    //   MAIN GAME
    main {
      width: 45.7rem;
      .main-grid {
        gap: 2.5rem;
        margin-bottom: 2.8rem;
        .square {
          height: 13.2rem;
          width: 14rem;
          .x-game {
            height: 6.4rem;
            width: 6.4rem;
          }
          .x-game-outline {
            height: 6.4rem;
            width: 6.4rem;
          }
          .zero-game {
            height: 6.4rem;
            width: 6.4rem;
          }
          .zero-game-outline {
            height: 6.4rem;
            width: 6.4rem;
          }
        }
      }
      .score-container {
        .score {
          width: 14rem;
          height: 7.2rem;
          h3 {
            font-size: 2.4rem;
          }
        }
      }
    }

    .game-over-container {
      .modal {
        margin-bottom: 0;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
        .modal-paragraph {
          margin-bottom: 3rem;
        }
        .modal-heading-container {
          margin-bottom: 3rem;
          gap: 2.5rem;
          .x-modal {
            height: 6.4rem;
            width: 6.4rem;
          }
          .modal-heading {
            font-size: 4rem;
          }
        }
      }
    }
    .game-tied-container {
      height: 100vh;
      .modal {
        margin-bottom: 0rem;
        padding-top: 6.2rem;
        padding-bottom: 5.8rem;
        .modal-heading {
          font-size: 4rem;
          margin-bottom: 4rem;
        }
        .btn-container {
          gap: 1.6rem;
          .btn {
            font-size: 1.6rem;
            padding: 1.8rem;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
