*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}

body {
  background: #1a2a33;
}

h1,
h2,
h3,
p,
a,
button,
ul,
li,
input,
::-webkit-input-placeholder {
  font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
p,
a,
button,
ul,
li,
input,
:-ms-input-placeholder {
  font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
p,
a,
button,
ul,
li,
input,
::-ms-input-placeholder {
  font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
p,
a,
button,
ul,
li,
input,
::placeholder {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.25rem;
}

h2 {
  font-size: 2.4rem;
  letter-spacing: 0.15rem;
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.125rem;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

p {
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  cursor: pointer;
}

button {
  border: 0;
}

input[type="text"]::-webkit-search-decoration,
input[type="text"]::-webkit-search-cancel-button,
input[type="text"]::-webkit-search-results-button,
input[type="text"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-search-decoration,
input[type="number"]::-webkit-search-cancel-button,
input[type="number"]::-webkit-search-results-button,
input[type="number"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-for-mobile {
  display: none;
}

.hide {
  display: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

body main {
  min-width: 32.7rem;
}

body main .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9rem;
  margin-bottom: 3.2rem;
}

body main .logo .x {
  background-image: url("../assets/icon-x.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 3.2rem;
  width: 3.2rem;
}

body main .logo .zero {
  background-image: url("../assets/icon-o.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 3.174rem;
  width: 3.174rem;
}

body main .mark-picking-container {
  background-color: #1f3641;
  border-radius: 15px;
  text-align: center;
  padding: 2.4rem;
  -webkit-box-shadow: 0 8px #10212a;
          box-shadow: 0 8px #10212a;
  margin-bottom: 4rem;
}

body main .mark-picking-container h4 {
  color: #a8bfc9;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

body main .mark-picking-container .mark-picking-subcontainer .picker {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 7.2rem;
}

body main .mark-picking-container .mark-picking-subcontainer .picker input {
  opacity: 0;
  width: 0;
  height: 0;
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a2a33;
  border-radius: 15px;
  padding: 0.9rem 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-x {
  height: 5.4rem;
  width: 13.2rem;
  background-color: transparent;
  border-radius: 10px;
  left: 0;
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-x .x-icon {
  background-image: url("../assets/icon-x-silver.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 3.2rem;
  width: 3.2rem;
  margin: 0 auto;
  top: 20%;
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-x .x-icon.active {
  background-image: url("../assets/icon-x-transparent.svg");
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-x.active {
  background-color: #a8bfc9;
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-zero {
  height: 5.4rem;
  width: 13.2rem;
  background-color: transparent;
  border-radius: 10px;
  left: 0;
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-zero .zero-icon {
  background-image: url("../assets/icon-o-silver.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 3.174rem;
  width: 3.174rem;
  margin: 0 auto;
  top: 20%;
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-zero .zero-icon.active {
  background-image: url("../assets/icon-o-transparent.svg");
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-zero.active {
  background-color: #a8bfc9;
}

body main .mark-picking-container p {
  color: #a8bfc9;
  opacity: 0.5;
  text-transform: uppercase;
  margin-top: 1.8rem;
}

body main .new-game-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4rem;
}

body main .new-game-buttons .button {
  width: 100%;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 15px;
  height: 5.6rem;
  letter-spacing: 0.1rem;
  color: #1a2a33;
  font-weight: bold;
}

body main .new-game-buttons .cpu {
  background-color: #f2b137;
  -webkit-box-shadow: 0 8px #cc8c35;
          box-shadow: 0 8px #cc8c35;
}

body main .new-game-buttons .multiplayer {
  background-color: #31c3bd;
  -webkit-box-shadow: 0 8px #3b8d87;
          box-shadow: 0 8px #3b8d87;
}

body main.hide {
  display: none;
}

body.show {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: start;
  gap: 6.8rem;
}

body header {
  min-width: 32.7rem;
  padding: 2.4rem 0;
  max-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0 auto;
  display: none;
}

body header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9rem;
  margin-bottom: 3.2rem;
}

body header .logo .x {
  background-image: url("../assets/icon-x.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 3.2rem;
  width: 3.2rem;
}

body header .logo .zero {
  background-image: url("../assets/icon-o.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 3.174rem;
  width: 3.174rem;
}

body header .turn {
  height: 3.6rem;
  width: 9.6rem;
  background-color: #1f3641;
  border-radius: 5px;
  text-transform: uppercase;
  color: #a8bfc9;
  -webkit-box-shadow: 0 4px #10212a;
          box-shadow: 0 4px #10212a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  margin-left: -3rem;
}

body header .turn p {
  font-weight: bold;
}

body header .turn .x-silver {
  background-image: url("../assets/icon-x-silver.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 1.6rem;
  width: 1.6rem;
}

body header .turn .circle-silver {
  background-image: url("../assets/icon-o-silver.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 1.6rem;
  width: 1.6rem;
}

body header .btn-restart {
  height: 3.6rem;
  width: 4rem;
  background-color: #a8bfc9;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px #6b8997;
          box-shadow: 0 4px #6b8997;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .btn-restart .icon-restart {
  background-image: url("../assets/icon-restart-dark-navy.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 1.538rem;
  width: 1.538rem;
}

body header.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .game-container {
  display: none;
  min-width: 32.7rem;
  margin: 0 auto;
}

body .game-container .main-grid.x .square .square-icon:not(.x):not(.circle):hover {
  background-image: url("../assets/icon-x-outline.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
  width: 4rem;
}

body .game-container .main-grid.circle .square .square-icon:not(.x):not(.circle):hover {
  background-image: url("../assets/icon-o-outline.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
  width: 4rem;
}

body .game-container .main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-bottom: 2.8rem;
}

body .game-container .main-grid .square {
  height: 8.8rem;
  width: 9.6rem;
  background-color: #1f3641;
  -webkit-box-shadow: 0 8px #10212a;
          box-shadow: 0 8px #10212a;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body .game-container .main-grid .square .x,
body .game-container .main-grid .square .circle {
  cursor: not-allowed;
}

body .game-container .main-grid .square .square-icon {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
  width: 4rem;
}

body .game-container .main-grid .square .square-icon.x {
  background-image: url("../assets/icon-x.svg");
}

body .game-container .main-grid .square .square-icon.circle {
  background-image: url("../assets/icon-o.svg");
}

body .game-container .score-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .game-container .score-container .score {
  width: 9.6rem;
  height: 6.4rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1a2a33;
}

body .game-container .score-container .score p {
  font-size: 1.4rem;
  text-transform: uppercase;
}

body .game-container .score-container .personal-victories {
  background-color: #31c3bd;
}

body .game-container .score-container .ties {
  background-color: #a8bfc9;
}

body .game-container .score-container .cpu-victories {
  background-color: #f2b137;
}

body .game-container.show {
  display: block;
}

body .modal-container {
  display: none;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .modal-container.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .game-over-container .modal {
  margin-bottom: 14rem;
  padding-top: 3.3rem;
  padding-bottom: 4.1rem;
  background-color: #1f3641;
  width: 100%;
}

body .game-over-container .modal .modal-paragraph {
  color: #a8bfc9;
  text-align: center;
  margin-bottom: 2rem;
}

body .game-over-container .modal .modal-heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9rem;
  margin-bottom: 3rem;
}

body .game-over-container .modal .modal-heading-container .winning-message {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 2.8rem;
  width: 2.8rem;
}

body .game-over-container .modal .modal-heading-container .winning-message-icon.x {
  background-image: url("../assets/icon-x.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 2.8rem;
  width: 2.8rem;
}

body .game-over-container .modal .modal-heading-container .winning-message-icon.circle {
  background-image: url("../assets/icon-o.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 2.8rem;
  width: 2.8rem;
}

body .game-over-container .modal .modal-heading-container .modal-heading {
  letter-spacing: 0.15rem;
  text-align: center;
}

body .game-over-container .modal .modal-heading-container .modal-heading.x {
  color: #31c3bd;
}

body .game-over-container .modal .modal-heading-container .modal-heading.circle {
  color: #f2b137;
}

body .game-over-container .modal .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}

body .game-over-container .modal .btn-container .btn {
  color: #1a2a33;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1.8rem;
  border-radius: 10px;
}

body .game-over-container .modal .btn-container .btn-quit {
  background-color: #a8bfc9;
  -webkit-box-shadow: 0 4px #6b8997;
          box-shadow: 0 4px #6b8997;
  min-width: 7.6rem;
}

body .game-over-container .modal .btn-container .btn-next-round {
  background-color: #f2b137;
  -webkit-box-shadow: 0 4px #cc8c35;
          box-shadow: 0 4px #cc8c35;
  min-width: 14.6rem;
}

body .restart-container {
  height: 100vh;
}

body .restart-container .modal {
  margin-bottom: 14rem;
  padding-top: 5.4rem;
  padding-bottom: 5.8rem;
  background-color: #1f3641;
  width: 100%;
}

body .restart-container .modal .modal-heading {
  letter-spacing: 0.15rem;
  color: #a8bfc9;
  text-align: center;
  margin-bottom: 3rem;
}

body .restart-container .modal .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}

body .restart-container .modal .btn-container .btn {
  color: #1a2a33;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1.8rem;
  border-radius: 10px;
}

body .restart-container .modal .btn-container .btn-cancel {
  background-color: #a8bfc9;
  -webkit-box-shadow: 0 4px #6b8997;
          box-shadow: 0 4px #6b8997;
  min-width: 7.6rem;
}

body .restart-container .modal .btn-container .btn-restart-modal {
  background-color: #f2b137;
  -webkit-box-shadow: 0 4px #cc8c35;
          box-shadow: 0 4px #cc8c35;
  min-width: 14.6rem;
}

body .restart-container.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  body main {
    width: 46rem;
  }
  body main .logo {
    margin-bottom: 4rem;
  }
  body main .new-game-buttons {
    gap: 2.8rem;
  }
  body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-x {
    width: 19.8rem;
  }
  body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-zero {
    width: 19.8rem;
  }
}

@media (min-width: 768px) {
  body {
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 3rem;
  }
  body header {
    width: 45.7rem;
    padding: 0;
  }
  body header .turn {
    height: 4.8rem;
    width: 14rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.3rem;
    margin: 0;
    margin-left: -2rem;
  }
  body header .turn p {
    font-size: 1.6rem;
  }
  body header .turn .x-silver {
    height: 2rem;
    width: 2rem;
  }
  body header .btn-restart {
    height: 4.8rem;
    width: 5.2rem;
  }
  body header .btn-restart .icon-restart {
    height: 2rem;
    width: 2rem;
  }
  body .game-container {
    width: 45.7rem;
  }
  body .game-container .main-grid {
    gap: 2.5rem;
    margin-bottom: 2.8rem;
  }
  body .game-container .main-grid .square {
    height: 13.2rem;
    width: 14rem;
  }
  body .game-container .main-grid .square .x-game {
    height: 6.4rem;
    width: 6.4rem;
  }
  body .game-container .main-grid .square .x-game-outline {
    height: 6.4rem;
    width: 6.4rem;
  }
  body .game-container .main-grid .square .zero-game {
    height: 6.4rem;
    width: 6.4rem;
  }
  body .game-container .main-grid .square .zero-game-outline {
    height: 6.4rem;
    width: 6.4rem;
  }
  body .game-container .score-container .score {
    width: 14rem;
    height: 7.2rem;
  }
  body .game-container .score-container .score h3 {
    font-size: 2.4rem;
  }
  body .game-over-container .modal {
    margin-bottom: 0;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
  body .game-over-container .modal .modal-paragraph {
    margin-bottom: 3rem;
  }
  body .game-over-container .modal .modal-heading-container {
    margin-bottom: 3rem;
    gap: 2.5rem;
  }
  body .game-over-container .modal .modal-heading-container .x-modal {
    height: 6.4rem;
    width: 6.4rem;
  }
  body .game-over-container .modal .modal-heading-container .modal-heading {
    font-size: 4rem;
  }
  body .restart-container {
    height: 100vh;
  }
  body .restart-container .modal {
    margin-bottom: 0rem;
    padding-top: 6.2rem;
    padding-bottom: 5.8rem;
  }
  body .restart-container .modal .modal-heading {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
  body .restart-container .modal .btn-container {
    gap: 1.6rem;
  }
  body .restart-container .modal .btn-container .btn {
    font-size: 1.6rem;
    padding: 1.8rem;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */