*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}

body {
  background: #1a2a33;
}

h1,
h2,
h3,
p,
a,
button,
ul,
li,
input,
::-webkit-input-placeholder {
  font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
p,
a,
button,
ul,
li,
input,
:-ms-input-placeholder {
  font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
p,
a,
button,
ul,
li,
input,
::-ms-input-placeholder {
  font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
p,
a,
button,
ul,
li,
input,
::placeholder {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.25rem;
}

h2 {
  font-size: 2.4rem;
  letter-spacing: 0.15rem;
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.125rem;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

p {
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  cursor: pointer;
}

button {
  border: 0;
}

input[type="text"]::-webkit-search-decoration,
input[type="text"]::-webkit-search-cancel-button,
input[type="text"]::-webkit-search-results-button,
input[type="text"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-search-decoration,
input[type="number"]::-webkit-search-cancel-button,
input[type="number"]::-webkit-search-results-button,
input[type="number"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-for-mobile {
  display: none;
}

.hide {
  display: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

body main {
  min-width: 32.7rem;
}

body main .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9rem;
  margin-bottom: 3.2rem;
}

body main .logo .x {
  background-image: url("../assets/icon-x.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 3.2rem;
  width: 3.2rem;
}

body main .logo .zero {
  background-image: url("../assets/icon-o.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 3.174rem;
  width: 3.174rem;
}

body main .mark-picking-container {
  background-color: #1f3641;
  border-radius: 15px;
  text-align: center;
  padding: 2.4rem;
  -webkit-box-shadow: 0 8px #10212a;
          box-shadow: 0 8px #10212a;
  margin-bottom: 4rem;
}

body main .mark-picking-container h4 {
  color: #a8bfc9;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

body main .mark-picking-container .mark-picking-subcontainer .picker {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 7.2rem;
}

body main .mark-picking-container .mark-picking-subcontainer .picker input {
  opacity: 0;
  width: 0;
  height: 0;
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a2a33;
  border-radius: 15px;
  padding: 0.9rem 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-x {
  height: 5.4rem;
  width: 13.2rem;
  background-color: transparent;
  border-radius: 10px;
  left: 0;
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-x .x-icon {
  background-image: url("../assets/icon-x-silver.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 3.2rem;
  width: 3.2rem;
  margin: 0 auto;
  top: 20%;
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-x .x-icon.active {
  background-image: url("../assets/icon-x-transparent.svg");
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-x.active {
  background-color: #a8bfc9;
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-zero {
  height: 5.4rem;
  width: 13.2rem;
  background-color: transparent;
  border-radius: 10px;
  left: 0;
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-zero .zero-icon {
  background-image: url("../assets/icon-o-silver.svg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 3.174rem;
  width: 3.174rem;
  margin: 0 auto;
  top: 20%;
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-zero .zero-icon.active {
  background-image: url("../assets/icon-o-transparent.svg");
}

body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-zero.active {
  background-color: #a8bfc9;
}

body main .mark-picking-container p {
  color: #a8bfc9;
  opacity: 0.5;
  text-transform: uppercase;
  margin-top: 1.8rem;
}

body main .new-game-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4rem;
}

body main .new-game-buttons .button {
  width: 100%;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 15px;
  height: 5.6rem;
  letter-spacing: 0.1rem;
  color: #1a2a33;
  font-weight: bold;
}

body main .new-game-buttons .cpu {
  background-color: #f2b137;
  -webkit-box-shadow: 0 8px #cc8c35;
          box-shadow: 0 8px #cc8c35;
}

body main .new-game-buttons .multiplayer {
  background-color: #31c3bd;
  -webkit-box-shadow: 0 8px #3b8d87;
          box-shadow: 0 8px #3b8d87;
}

@media (min-width: 768px) {
  body main {
    width: 46rem;
  }
  body main .logo {
    margin-bottom: 4rem;
  }
  body main .new-game-buttons {
    gap: 2.8rem;
  }
  body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-x {
    width: 19.8rem;
  }
  body main .mark-picking-container .mark-picking-subcontainer .picker .picker-subcontainer .picker-zero {
    width: 19.8rem;
  }
}
/*# sourceMappingURL=styles-home.css.map */